# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
# C extensions
*.so
# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
# Installer logs
pip-log.txt
pip-delete-this-directory.txt
# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
# Translations
*.mo
# Mr Developer
.mr.developer.cfg
.project
.pydevproject
# Rope
.ropeproject
# Django stuff:
*.log
*.pot
# Sphinx documentation
docs/_build/

**.pytest_cache

volumes/ipfs
volumes/postgres
volumes/servers.json
volumes/pgadmin

# install compatible version (tini-amd64/tini-arm64/..)
services/backend_api/tini

!services/tx_root_publisher/src/app/lib
!services/pg_tx_fetcher/src/app/lib
